[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-login = "*"
oauthlib = "*"
requests = "*"
click = "*"
pyopenssl = "*"
werkzeug = "*"

[dev-packages]
jedi = "*"
pylint = "*"

[requires]
python_version = "3.9"
